In [16]:
# ============================
# Cellule 1 : Import "src.*" depuis le notebook
# ============================
# Problème classique : ton notebook est souvent dans un sous-dossier (ex: notebooks/)
# et Python ne "voit" pas automatiquement la racine du projet.
# Objectif : remonter dans les dossiers parents jusqu'à trouver le dossier "src/"
# puis ajouter cette racine dans sys.path pour pouvoir faire :
#   from src.db_models import ...
# ============================

from pathlib import Path
import sys

# Dossier courant (souvent celui où le notebook est lancé)
nb_dir = Path.cwd()

# On remonte jusqu'à trouver un dossier parent contenant "src/"
project_root = next(p for p in [nb_dir, *nb_dir.parents] if (p / "src").exists())

# Ajoute la racine du projet au PYTHONPATH (si pas déjà présent)
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

# Affiche la racine trouvée (utile pour vérifier)
project_root

PosixPath('/home/ubuntu/ExamenBloc2')

In [17]:
# ============================
# Cellule 2 : Connexion à la base + session SQLAlchemy
# ============================
# - SQLALCHEMY_DATABASE_URL vient de src/config.py
# - engine = point d'entrée SQLAlchemy vers la base (connexion / pool)
# - session = interface ORM pour faire des requêtes (SELECT/INSERT/UPDATE/DELETE)
# ============================

from sqlalchemy import create_engine, text, inspect
from sqlalchemy.orm import sessionmaker

# URL de connexion (ex: mysql+pymysql://user:pass@host:3306/dbname)
from src.config import SQLALCHEMY_DATABASE_URL

# Tes modèles ORM (tables)
from src.db_models import Base, Event, Order, Customer

# Création de l'engine :
# - echo=False : ne spam pas les logs SQL dans le notebook
# - future=True : API SQLAlchemy moderne
engine = create_engine(SQLALCHEMY_DATABASE_URL, echo=False, future=True)

# Création d'une fabrique de sessions
# - autoflush=False : pas de flush implicite trop agressif (souvent plus confortable en notebook)
# - autocommit=False : on contrôle les commits explicitement
SessionLocal = sessionmaker(bind=engine, autoflush=False, autocommit=False, future=True)

# Ouvre une session (à fermer à la fin)
session = SessionLocal()

print("✅ Connected OK ->", SQLALCHEMY_DATABASE_URL)

✅ Connected OK -> mysql+pymysql://exam:exampwd@localhost:3306/examdb

In [18]:
# ============================
# Cellule 3 : Créer/assurer les tables
# ============================
# Base.metadata.create_all(engine) :
# - crée les tables qui n'existent pas
# - ne supprime rien
# - ne modifie pas automatiquement les schémas déjà existants (pour ça il faut Alembic)
# ============================

Base.metadata.create_all(engine)
print("✅ Tables ensured (created if missing).")

✅ Tables ensured (created if missing).

In [19]:
# ============================
# Cellule 4 : Lister les tables existantes
# ============================
# inspect(engine) permet d'interroger le schéma de la base
# ============================

insp = inspect(engine)
tables = insp.get_table_names()
tables

['table_customers', 'table_events', 'table_orders']

In [8]:
# ============================
# Cellule 5 : Inspecter les colonnes d'une table
# ============================
# Renvoie une liste de dictionnaires : nom, type, nullable, etc.
# ============================

columns_orders = insp.get_columns("table_orders")
columns_orders

[{'name': 'order_id',
  'type': VARCHAR(length=36),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'customer_customer_id',
  'type': VARCHAR(length=36),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_device',
  'type': VARCHAR(length=20),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_channel',
  'type': VARCHAR(length=20),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_main_category',
  'type': VARCHAR(length=50),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_n_items',
  'type': INTEGER(),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': False},
 {'name': 'order_basket_value',
  'type': FLOAT(),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_shipping_fee',
  'type': FLOAT(),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_discount',
  'type': FLOAT(),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_order_total',
  'type': FLOAT(),
  'default': None,
  'comment': None,
  'nullable': False},
 {'name': 'order_is_returned',
  'type': TINYINT(display_width=1),
  'default': None,
  'comment': None,
  'nullable': False,
  'autoincrement': False},
 {'name': 'price_average_per_item',
  'type': FLOAT(),
  'default': None,
  'comment': None,
  'nullable': False}]

In [20]:
# ============================
# Cellule 6 : Compter les lignes
# ============================
# Ici on utilise du SQL brut (text) pour aller vite.
# scalar() récupère la première valeur de la première ligne (COUNT(*))
# ============================

tables_to_check = ["table_customers", "table_orders", "table_events"]

for t in tables_to_check:
    n = session.execute(text(f"SELECT COUNT(*) FROM {t}")).scalar()
    print(f"{t}: {n} rows")

table_customers: 600 rows
table_orders: 2736 rows
table_events: 4000 rows

In [10]:
# ============================
# Cellule 7 : Lire quelques lignes (SQL brut)
# ============================
# - LIMIT 5 : éviter de charger trop de données
# - mappings() : renvoie chaque ligne sous forme de dict (clé=nom de colonne)
# - all() : récupère toutes les lignes du résultat
# ============================

rows = session.execute(text("SELECT * FROM table_orders LIMIT 5")).mappings().all()
rows

[]

In [11]:
# ============================
# Cellule 8 : Lire via ORM
# ============================
# session.query(Order).limit(5).all() renvoie des objets Order.
# Pour affichage notebook, ce n'est pas toujours très lisible sans __repr__.
# ============================

orders_obj = session.query(Order).limit(5).all()
orders_obj

[]

In [12]:
# ============================
# Cellule 9 : Lire en pandas DataFrame
# ============================
# pandas.read_sql permet de faire directement un SELECT vers DataFrame.
# Très pratique pour vérifier rapidement les données.
# ============================

import pandas as pd

df_orders = pd.read_sql("SELECT * FROM table_orders LIMIT 20", con=engine)
df_orders.head()

Empty DataFrame
Columns: [order_id, customer_customer_id, order_device, order_channel, order_main_category, order_n_items, order_basket_value, order_shipping_fee, order_discount, order_order_total, order_is_returned, price_average_per_item]
Index: []

In [ ]:
# ============================
# Cellule 10 : Nettoyage
# ============================
# Toujours fermer la session quand tu as fini (bonne pratique)
# ============================

session.close()
print("✅ Session closed")